examples/HELLO.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xsd:simpleType name="hellopattern">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="hello .+"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:element name="hellos">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="hello" type="hellopattern" minOccurs="1" maxOccurs="unbounded"/>
      </xsd:sequence>   
    </xsd:complexType>
  </xsd:element>

</xsd:schema> 
